<div class="container">
    <!-- Post Title -->
    <div class="row mt-2 mb-2">
        <div class="col-md-12">
            <h1>Post Title</h1>
        </div>
    </div>
    <!-- Post feature -->
    <div class="row">
        <div class="col-md-12">
            <p>
                Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
                documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
                Composer or Meteor. Package managed installs don’t include
                documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
                Composer or Meteor. Package managed installs don’t include
                documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
                Composer or Meteor. Package managed installs don’t include
                documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
                Composer or Meteor. Package managed installs don’t include
                documentation, but do include our build system and readme.</p>
        </div>
    </div>
    <!-- page body //-->
    <div class="row mt-2">
        <div class="col-md-8">
            <p>Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.</p>
        </div>
        <!-- sidebar //-->
        <div class="col-md-4 hidden-md-down">
            <p>sidebar</p>
            <p>Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm,
            Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.</p>
        </div>
    </div>
</div>