<div class="container">
    <!-- title //-->
    <div class="row mt-3">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
    </div>
    <!-- body //-->
    <div class="row mt-3">
        <div class="col-md-12">
            <p>Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include
            documentation, but do include our build system and readme.</p>
        </div>
    </div>
</div>