<div class="container">

    <div class="row mt-3">
        <div class="col-md-12">
            <h1 class="display-4">Blog</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <th>first name</th>
                    <th>last name</th>
                    <th>twitte</th>
                </thead>
                <tbody>
                    <tr>
                        <td>john</td>
                        <td>smith</td>
                        <td>@jsmith</td>
                    </tr>
                    <tr>
                        <td>steve</td>
                        <td>stevens</td>
                        <td>@stevens</td>
                    </tr>
                    <tr>
                        <td>mike</td>
                        <td>michaels</td>
                        <td>@mandm</td>
                    </tr>
                </tbody>
            </table>
            <p>Green Park is a London Underground station on the north side of Green Park, with entrances on both sides of Piccadilly.
            It is in fare zone 1 and is a busy interchange between the Jubilee, Piccadilly and Victoria lines, used by over 39
            million passengers in 2017. The station was opened on 15 December 1906 by the Great Northern, Piccadilly and Brompton
            Railway and was originally named Dover Street.</p>
        </div>
        <div class="col-md-4 hidden-md-down">
            <p>Green Park is a London Underground station on the north side of Green Park, with entrances on both sides of Piccadilly.
            It is in fare zone 1 and is a busy interchange between the Jubilee, Piccadilly and Victoria lines, used by over 39
            million passengers in 2017. The station was opened on 15 December 1906 by the Great Northern, Piccadilly and Brompton
            Railway and was originally named Dover Street.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            Green Park is a London Underground station on the north side of Green Park, with entrances on both sides of Piccadilly.
            It is in fare zone 1 and is a busy interchange between the Jubilee, Piccadilly and Victoria lines, used by over 39
            million passengers in 2017. The station was opened on 15 December 1906 by the Great Northern, Piccadilly and Brompton
            Railway and was originally named Dover Street.
        </div>
    </div>
</div>