<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <p>View composers are callbacks or class methods that are called when a view is rendered. If you have data that you want to
            be bound to a view each time that view is rendered, a view composer can help you organize that logic into a single
            location.View composers are callbacks or class methods that are called when a view is rendered. If you have data that you want to
            be bound to a view each time that view is rendered, a view composer can help you organize that logic into a single
            location.</p>
        </div>
    </div>
</div>